  <table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Ubicacion</th>
      <th scope="col">Correo</th>
      <th scope="col">Descripcion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listaeventos; let i = index" [attr.data-index]="i">
      <td>{{item.nombre}}</td>
      <td>{{item.ubicacion}}</td>
      <td>{{item.correo}}</td>
      <td>{{item.descripcion}}

        <td>
          <button class="btn btn-sm btn-primary" (click)="Editar(i,item.nombre,item.ubicacion,item.correo,item.descripcion)">
            <i class="fa fa-pencil fa-fw"></i>Editar</button>
          <button class="btn btn-sm btn-danger" (click)="Borrar(i)">
          <i class="fa fa-trash"></i>Borrar</button></td>
    </tr>
  </tbody>

</table>
<app-alta (altaEvento)="addEvento($event)"></app-alta>
