<header class="header">


  <section id="hero">
    <div class="container">
        <div class="content-center">
          <img src="../../assets/img/logo.png" class="logo-brand" alt="logo" style="width: 200px;opacity: 50%;">
            <p style="background: black;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea consequuntur, odit veniam mollitia
                aliquam reiciendis dignissimos, vitae sapiente neque, cum dolorum.</p>
            <a href="#" class="btn btn-secondary mt-4">Explore now <img src="assets/images/arrow-right.svg" class="ml-2"></a>
        </div>
    </div>
</section>


</header>
