
.header{

  height: 50%;
  min-height: 100vh;
  background-image: url(../../assets/img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#hero {
  font-size: large;
  padding-top: 190px;
  min-height: 900px;
  color: var(--white-color);
  text-align: center;
}

