<header class="header">
  <div class="contenido__video">

    <video class="video" autoplay="autoplay" loop="loop" muted="muted" >
     <source src="../../assets/img/VIDEO.mp4" type="video/mp4" poster="../../assets/img/banner.jpg">
    </video>
   </div>
  <section class="hero" >
    <div class="container">
        <div class="content-center">
          <img class="img" src="../../assets/img/logo.png" class="logo-brand" alt="logo" style="width: 300;">
            <p class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea consequuntur, odit veniam mollitia
                aliquam reiciendis dignissimos, vitae sapiente neque, cum dolorum.</p>
            <a href="#portfolio" class="btn btn-secondary mt-4">Que ofrecemos? <img src="../../assets/img/logomini.png" class="ml-2"></a>
        </div>
    </div>

</section>



</header>


<div class="resto">

<section id="portfolio1" style="padding: 50px; background: white;">
  <div class="container-fluid">
      <div class="content-center">
          <h2>We work with exciting brands to build <b>increibles eventos.</b></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea consequuntur, odit veniam mollitia
              aliquam reiciendis dignissimos, vitae sapiente neque, cum dolorum. Suscipit expedita obcaecati
              nesciunt error ut quidem autem.</p>
      </div>

      </div>
    </section>

<section id="portfolio" style="padding: 50px;">
      <div class="row" >
          <div class="col-md-6">
              <div class="portfolio-container">
                  <div class="portfolio-details">

                          <h2>Organizamos eventos</h2>


                          <p>—A todas las necesidades</p>

                  </div>
                  <img src="assets/img/portfolio-01.jpg" class="img-fluid" alt="Portfolio 01">
              </div>
          </div>
          <div class="col-md-6">
              <div class="portfolio-container">
                  <div class="portfolio-details">

                          <h2>Cenas</h2>


                          <p>—De alta gamma</p>

                  </div>
                  <img src="assets/img/portfolio-02.jpg" class="img-fluid" alt="Portfolio 02">
              </div>
          </div>
          <div class="col-md-6">
              <div class="portfolio-container">
                  <div class="portfolio-details">

                          <h2>Festivales de musica</h2>

                          <p>—De todos los generos </p>

                  </div>
                  <img src="assets/img/portfolio-03.jpg" class="img-fluid" alt="Portfolio 03">
              </div>
          </div>
          <div class="col-md-6">
              <div class="portfolio-container">
                  <div class="portfolio-details">

                          <h2>Discursos informativos</h2>

                          <p>—A todas las comunidades</p>

                  </div>
                  <img src="assets/img/portfolio-04.jpg" class="img-fluid" alt="Portfolio 04" >
              </div>
          </div>
      </div>


</section>
</div>
