/* FONDO VIDEO */
.contenido__video{
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
 }

 .resto{
   background: white;
 }
 /* Estilos para la etiqueta "video" con la calse (.video)  */
 .video{
  position: absolute;
  max-width: 200%;
  width: 100%;

  margin: 0px;
  padding: 0px;
 }

.hero {
  font-size: large;
  padding: 100px;
  min-height: 500px;
  color: var(--white-color);
  text-align: center;

}
.p{
  color: white;
}

#portfolio1{
  text-align: center;
}
.portfolio-container {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 2px;
  color: white;
  text-align: center;
}

.portfolio-container img {
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.portfolio-container:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.portfolio-details {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 9000;
}

.portfolio-details h2 {
  margin-bottom: 0px;
}

.portfolio-details a h2, .portfolio-details a p {
  color: var(--white-color);
}
.ml-2{
width: 30px;
}
