
.header{

  height: 50%;
  min-height: 100vh;
  background-image: url(../../assets/img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero {
  font-size: large;
  padding-top: 190px;
  min-height: 900px;
  color: var(--white-color);
  text-align: center;

}
.p{
  color: white;
}

#portfolio1{
  text-align: center;
}
.portfolio-container {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 2px;
  color: white;
  text-align: center;
}

.portfolio-container img {
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.portfolio-container:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.portfolio-details {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 9000;
}

.portfolio-details h2 {
  margin-bottom: 0px;
}

.portfolio-details a h2, .portfolio-details a p {
  color: var(--white-color);
}
